@font-face {
    font-family: font1;
    src: url("font1.woff2") format("woff2");
}
@keyframes changeBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    background: linear-gradient(to right, red, green, rgb(0, 102, 255), purple);
    background-size: 400% 400%;
    animation: changeBackground 4s infinite;
    margin: 0;
}
a {
    text-decoration: none;
}
.profile {
    background-color: #ffffffdb;
    border-radius: 15px;
    margin: 8px 8px 4px 8px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid #ffffff;
}
.profile-div1 {
    display: flex;
    justify-content: start;
    align-items: end;
    margin: 4px;
}
.profile-div1-img1 {
    border-radius: 30px;
    width: 50px;
}
.profile-div1-span1 {
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 8px;
}
.profile-div1-span2 {
    font-family: sans-serif;
    font-size: 12px;
    margin-left: 8px;
    color: #6e6e6e;
}
.profile-div2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 100%;
    margin-right: 4px;
}
.profile-div2-span1, .profile-div2-span2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2px;
}
.profile-div2-span1-span1 ,.profile-div2-span1-span2 ,
.profile-div2-span2-span1 ,.profile-div2-span2-span2 ,
.profile-div2-fallow-a-span1 {
    font-family: sans-serif;
    margin: 3px;
}
.profile-div2-fallow-a-span1 {
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 4px;
    margin-top: 5px;
    color: black;
    background: linear-gradient(to right, red, #000bfd);
    background-size: 150% 150%;
    animation: changeBackground 2s infinite;
}
.thing {
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 315px;
}
.thing-1, .thing-2 {
    display: flex;
    flex-direction: column;
}
.thing-button {
    background: #87878724;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 55px;
}
.thing-1-views, .thing-1-posts {
    background-color: #ffffffdb;
    border-radius: 15px;
    margin: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffffff;
}
.thing-1-views-a, .thing-1-posts-a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 145px;
    width: 100%;
}
.thing-1-views-span1, .thing-1-views-span2, .thing-1-posts-span1, .thing-1-posts-span2 {
    font-family: sans-serif;
    margin: 1px;
    color: black;
}

.thing-2-likes, .thing-2-comments, .thing-2-shares {
    background-color: #ffffffdb;
    border-radius: 15px;
    margin: 4px 8px 4px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffffff;
}
.thing-2-likes-a, .thing-2-comments-a, .thing-2-shares-a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.thing-2-shares-a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.thing-2-likes-span1, .thing-2-likes-span2,
.thing-2-comments-span1, .thing-2-comments-span2,
.thing-2-shares-span1, .thing-2-shares-span2 {
    font-family: sans-serif;
    margin: 2px;
    color: black;
}
.site {
    background-color: #ffffffdb;
    border-radius: 15px;
    margin: 4px 8px 8px 8px;
    display: flex;
    align-items: center;
    padding: 8px 20px;
    border: 2px solid #ffffff;
}
.site-a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
    width: 100%;
}
.site-a-span1, .site-a-span2 {
    font-family: sans-serif;
    margin: 2px;
    color: black;
}
.create {
    background-color: #ffffffdb;
    border-radius: 15px;
    margin: 4px 8px;
    display: flex;
    align-items: center;
    padding: 4px 20px;
    border: 2px solid #ffffff;
}
.create-start {
    width: 50%;
    margin: 20px 0;
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.create-start-span1 {
    font-family: sans-serif;
}
.create-start-span2 {
    font-family: sans-serif;
    color: #797979;
    font-size: 13px;
    margin-top: 3px;
}
.create-end {
    width: 50%;
    display: flex;
    justify-content: end;
}
.create-end-span1, .create-end-a1-span1 {
    font-family: sans-serif;
}
.create-end-a1-span1 {
    color: rgb(0, 87, 218);
}

@media only screen and (max-width: 440px) {
    .create-end-span1, .create-end-a1-span1 {
        font-size: 12px;
    }
    .profile {
        padding: 10px;
    }
    .thing {
        height: auto;
    }
    .thing-1-views-a, .thing-1-posts-a {
        height: 200px;
    }
    .create-start, .create-end {
        margin: 15px 0;
    }
}


/*---------- post ----------*/
.where1 {
    background-color: #ffffffdb;
    border-radius: 15px;
    margin: 8px 8px 4px;
    display: flex;
    align-items: center;
    padding: 8px 20px;
    border: 2px solid #ffffff;
}
.where1-div1, .where1-div2 {
    width: 50%;
}
.where1-div2 {
    display: flex;
    justify-content: end;
}
.where1-div1-span1, .where1-div2-a-span1 {
    font-family: sans-serif;
}
.where1-div2-a {
    border: 1px solid black;
    padding: 4px 8px;
    color: rgb(0, 68, 255);
    border-radius: 8px;
}
.posts-div {
    display: flex;
    flex-direction: row;
}
.posts-div-div1, .posts-div-div2 {
    background-color: #ffffffdb;
    border-radius: 15px;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 8px 16px;
    border: 2px solid #ffffff;
    width: 49%;
    flex-direction: column;
}
.posts-div-div1-div2-span, .posts-div-div2-div2-span {
    font-family: font1;
    font-size: 13px;
}
.posts-div-div1-div3-span, .posts-div-div2-div3-span {
    font-family: font1;
    font-size: 10px;
    color: rgb(92, 92, 92);
}
.posts-div-div1-div2, .posts-div-div2-div2 {
    direction: rtl;
    display: flex;
    justify-content: start;
    width: 100%;
}
/*----------/posts----------*/

/*----------followers----------*/
.followers {
    background-color: #ffffffdb;
    border-radius: 15px;
    margin: 8px 8px 8px 8px;
    display: flex;
    align-items: start;
    padding: 8px 20px;
    border: 2px solid #ffffff;
    flex-direction: column;
}
.followers-div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.followers-div1-img {
    border-radius: 30px;
    width: 25px;
    margin: 0 2px 0 8px;
}
.followers-div1-span {
    margin: 0 8px 0 2px;
    font-family: sans-serif;
}
.followers-div {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.follower {
    height: 50px;
    width: 100%;
    justify-content: start;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 6px;
    margin: 2px 0 4px 0;
}
.followers-div-div1 {
    width: 50%;
    display: flex;
    align-items: center;
}
.followers-div-div1-img {
    border-radius: 30px;
    width: 35px;
    margin: 10px;
}
.followers-div-div1-span {
    font-family: font1;
}
.followers-div-div2 {
    width: 50%;
    display: flex;
    justify-content: end;
}